<html>
    <head>
        <title>Form</title>
    </head>
  <form method="GET" action="/feed">

 <body>
     <div class="book-box">
         <h1>Books</h1>
     </div>

     <div class="cloth-box">
         <h1>Clothes</h1>
     </div>

     <div class="stationary-box">
         <h1>Stationary Items</h1>
     </div>

    <div>
         <button class="btn" type="submit">Submit</button>
     </div>

  </form>
</body>
</html>
