<html>
    <head>
        <title>Form</title>
    </head>
  <form method="POST" action="/getitems">
 <body>
     <div class="book-box">
         <h1>Books</h1>
         <input type="text" name="book_count" placeholder="Books">
     </div>
     <div class="cloth-box">
         <h1>Clothes</h1>
         <input type="text" name="cloth_count" placeholder="Clothes">
     </div>
     <div class="stationary-box">
         <h1>Stationary Items</h1>
         <input type="text" name="stationary_count" placeholder="Stationary">
     </div>

    <div>
         <button class="btn" type="submit">Submit</button>
     </div>
  </form>
</body>
</html>
